@model  IEnumerable<MotelManager.Models.EF.OrderDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOrder.cshtml";

}

<h2>Order List</h2>

<table class="table">
    <tr>
        <th>
            Số Phòng
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Tình trạng
        </th>

    </tr>

    @foreach (var orderDetail in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => orderDetail.Motel.motel_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => orderDetail.Order.BookingDate)
            </td>
            <td>
                <div style="color:red"> @Html.DisplayFor(modelItem => orderDetail.Order.Status)</div>
            </td>
            @*<td>
                    <button class="btn-primary">
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.idOrder }, new { @style = "color:black;" })
                    </button>

                </td>*@
        </tr>
    }

</table>

