body {
    font-family: 'Roboto Flex', sans-serif;
}
.header {
    height: 100%;
    background: #fff0e0;
}

.deatils ul li a,
.deatils ul li i {
    color: #fff;
}

.header-top {
    background: #003580;
}
.navbar-default {
    background: transparent;
}

    .navbar-default .navbar-nav > li > a {
        color: #003580;
        font-family: 'Roboto Flex', sans-serif;
        font-weight: 600;
    }

        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            background: #cccccc82;
            color: #003580;
            border-radius: 20px;
        }

.type-item {
    color: #003580;
}
.type-item:hover {
    background: #cccccc82;
}

.serach-w3agile {
    background: #003580;
}

.btn-search{
    border-radius: 20px;
}