<div class="">
    <div class="form-group">
        <label for="">Tên thành phố</label>
        <input type="text" name="name" id="city-name-edit" value="@Model.name" class="form-control" placeholder="Nhập tên thành phố">
    </div>
    <div class="form-group">
        <label for="">Slug</label>
        <input type="text" disabled id="slug-name-edit" value="@Model.slug" class="form-control" placeholder="Nhập tên thành phố">
    </div>
</div>
