<!DOCTYPE html>
<html>

<head>
    <title>
        @*Home Plat a Real Estates and Builders Category Flat Bootstrap Responsive Web Template | Home :: w3layouts*@
    </title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="~/Resources/bootstrap-select-dropdown-with-search/css/bootstrap-select.min.css">
    <!--css-->
    <link href="~/Public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Public/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--css-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Home Plat Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="stylesheet" href="~/Public/css/flexslider.css" type="text/css" media="screen" />
    <!--js-->
    <script src="~/Public/js/jquery.min.js"></script>
    <script src="~/Public/js/bootstrap.min.js"></script>
    <!--js-->
    <!--webfonts-->
    @*<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,700italic,700,600italic,600,400italic,300italic,300,100italic,100'
          rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>*@
    <!--webfonts-->
    <!--Icon-->
    <script src="https://kit.fontawesome.com/6df9eee8ba.js" crossorigin="anonymous"></script>
    <!--Main style-->
    <link href="~/Public/css/main.style.css" rel="stylesheet" />
    <script src="~/Public/js/responsiveslides.min.js"></script>
</head>

<body>
    <!--header-->
    @Html.Action("_HeaderLayout","Home")
    <!--header-->
    <!--banner-->
    <!--banner-->
    <div class="content content-background">
        <div class="popular-w3">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <!--popular-->
        <!--high properties-->
        <!--high properties-->
        <!--featured-->
        <!--featured-->
        <!--Testimonial-->
        <!--Testimonial-->
    </div>
    <!--footer-->
    @Html.Action("_FooterLayout","Home")
    <!--copy-->
    <script src="~/Resources/bootstrap-select-dropdown-with-search/js/bootstrap-select.min.js"></script>
</body>

</html>